[Unit]
Description=Dominion Node
After=network.target

[Service]
User=root
Type=simple
TimeoutSec=0
PIDFile=/var/run/dominion.pid
ExecStart=dominiond start 2>&1> /dev/null
KillMode=process
Restart=always
RestartSec=10s
StandardOutput=/var/log/dominion-stdout.log
StandardError=/var/log/dominion-stderr.log

[Install]
WantedBy=default.target
